.campo-texto{
    background-color: #53585D;
    color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
}

.Nuevacategoria{
    color: #fff;
    background-color: #2A7AE4;
    border-radius: 4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:21px;
    text-decoration: none;
    font-weight:600;
    text-align:center;
    cursor: pointer;
    padding: .75rem 1.5rem;
    border: none;
    margin: 1rem 0 2rem;
}